<h1>@user.name > Profile</h1>
<div class="container">
  <div class="panel panel-default upcoming-dates">
    <div class="panel-body">
      <h3>Upcoming Dates</h3>
    </div>
  </div>
  <div class="panel panel-default past-dates">
    <div class="panel-body">
      <h3>Past Dates</h3>
    </div>
  </div>
  <div class="panel panel-default past-dates">
    <div class="panel-body">
      <h3>Account Details</h3>
    </div>
  </div>
</div>
