<div class="jumbotron">
  <div class="background">
    <div class="container">
      <div class="jumbotron-text">
        <h1>Date Night</h1>
        <p>Ignite the fire in your relationship...</p>
      </div>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Get Started!</button>
    </div>
  </div>
</div>
<div class="container-text">
  <div class="row">
    <p>
      Create memorable moments to last a life time...
    </p>
  </div>
</div>
<div class="container-featured">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag('big-couple-holding-hands.jpg', class:"first-date") %>
    </div>
    <div class="col-lg-4">
      <%= image_tag('swinging-couple.jpg', class:"fun-date") %>
    </div>
    <div class="col-lg-4">
      <%= image_tag('sitting-black-couple.jpg', class:"romantic-date") %>
    </div>
  </div>
</div><hr>
