<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=La+Belle+Aurore" />
<div class="welcome-container" style="width: 100%;">
  <div class="row">
    <h1>Date Night</h1>    
  </div>
  <div class="row container explore-the-possibilities">
    <h3>Quality Time... Simplified</h3>
  </div>
</div>
