<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=La+Belle+Aurore" />
<div class="welcome-container">
  <h1>Date Night</h1>
  <p>
    <%= link_to "Explore the possibilities...", events_path, class: "btn btn-link" %>
  </p>
</div>
<div class="welocome-background">

</div>
