<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=La+Belle+Aurore" />
<div class="site-wrapper col-lg-12">
  <div class="site-wrapper-inner">
    <div class="cover-container">
        <%= render partial: "search_bar" %>
    </div>
    <div class="events-list container">
      <div class="panel panel-default upcoming-dates">
        <div class="panel-body">
          <h2>Explore Upcoming Events...</h2>
          <% if @events.present? %>
            <%= render partial: "events_index" %>
          <% else %>
            <h3>No Events Found</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
