<div class="events-list container">
  <h3>Explore Denver Events</h3>
  <% @events.each do |event| %>
    <div class="event-image col-md-4">
      <%= event.image %>
    </div>
    <div class="event-title">
      <%= link_to "#{event.title}", event.url %>
    </div>
    <div class="event-description">
      <%= event.description %>
    </div>
  <% end %>
</div>
