//date planner

.itinerary .panel-body h1 {
  color: black;
  font-family: "Helvetica Neue";
}



//events
  .panel {
    opacity: 0.9;
    width: 80%;
    margin: auto;
  }

  .panel{
    margin-top: 100px;
  }

  .panel-body h2 {
    color: orange;
  }

  .event-details {
    width: 60%;
    margin: auto;
  }

  .events-list {
    margin-top: 30px;
    background-size: 100%;
  }

  .event-info {
    padding-bottom: 20px;
  }
  .event-image {
    padding-top: 10px;
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
  }

  .events-list .event-title {
    padding: 15px;
    text-align: left;
  }

  .event-description {
    padding: 15px;
    text-align: left;
  }

  .event-address {
    text-align: left;
  }

  .event-city-state {
    text-align: left;
  }
  .event-time {
    text-align: left;
  }

//welcome page

.select-date select {
  width: 120px;
}

.search-field input {
  width: 240px;
  height: 30px;
}

.select-category select {
  width: 120px;
}
.navbar .navbar-default style {
  margin-left: 100px;
  padding-top: 100px;
}

.navbar-default .container-fluid {
  padding: 0;
}

.welcome-container {
  background: url('couple-sitting.jpg') center center fixed;
  background-size: 100%;
  height: 800px;
  margin-top: 50px;
  padding-left: 15px;
  position: relative;
}

.welcome-container h1 {
  font-family: 'La Belle Aurore';
  font-size: 120px;
  color: white;
  float: left;
  margin-left: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.welcome-container .explore-the-possibilities h3 {
  font-family: "Helvetica Neue";
  font-size: 30px;
  color: orange;
}

.welcome-container .btn-link {
  font-family: 'La Belle Aurore';
  color: white;
  margin-top: 200px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 40px;
}

//events index page

  .site-wrapper {
    background-size: 100%;
    background-color: azure;
    height: 1000px;
  }

  .site-wrapper {
    padding-top: 70px;

  }

  .site-wrapper h1 {
    padding-bottom: 30px;
    font-size: 100px;
    text-align: left;
    font-family: 'La Belle Aurore';
    color: orange;
  }

  .site-wrapper .btn .btn-default {
    float: right;
  }

  //navbar
.navbar-wrapper .container {
  margin: none;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  position: fixed;
  opacity: 0.7;
  z-index: 1000;
}

.navbar-wrapper .navbar {
  margin-bottom: 0px;
}

.navbar-header .navbar-brand {
  padding-left: 25px;
  font-size: 20px;
}

.navbar-brand a :hover {
  color: orange;
}

#navbar {
  float: right;
  font-family: "Helvetica Neue";
  color: purple;
}

#navbar li {
  float: left;
  font-size: 20px;
}

#navbar li :hover {
  color: orange;
}

#search_form {
  margin-top: 0;
}

.date-planner-btn {
  margin-top: 9px;
}

.date-planner-btn :hover {
  text-decoration: none;
  color: white;
}

//user show page

body {
  background-size: 100%;
  background-color: azure;
}

.profile-info {
  background-color: azure;
}

.profile-info .panel-heading {
  font-family: "Helvetica Neue";
  font-size: 25px;
}

.profile-info .panel-body {
  font-size: 20px;
}


.container h1 {
  font-family: 'La Belle Aurore';
  padding-top: 10px;
  margin-top: 60px;
  padding-bottom: 10px;
  color: orange;
}

.profile-info .account-details .edit {
  float: right;
}
